<h1>Processed Invoices</h1>
<%= form_with url: invoices_path, method: :get, data: { turbo_frame: "invoices_list", controller: "filter", action: "input->filter#submit" } do %>
  <div class="form-group">
    <%= label_tag :filter, "Search by Number" %>
    <%= text_field_tag :filter %>
  </div>
<% end %>


<%= turbo_frame_tag "invoices_list" do %>
  <%= render "list", invoices: @invoices %>
<% end %>

<%= link_to 'Upload New Invoice', new_invoice_path %>
